@font-face {
	font-family: 'Pangolin';
	src: url('/fonts/Pangolin-Regular.ttf') format('truetype');
}

div.theme-horror-mystery {
	background: url('/theme/horror/manilla.webp');
	font-family: 'Pangolin', cursive;
	min-height: 100vh;
}

div.theme-horror-mystery input {
	border: 4px solid rgba(29, 5, 5, 0.54);
	border-radius: 5px;
	background: none;
	font-size: 1.2rem;
	width: 80%;
	margin: 0.2rem;
}
div.theme-horror-mystery input.setting-dial {
	width: auto;
}
div.theme-horror-mystery button {
	padding: 0.2rem 1rem;
	background: rgb(64, 66, 80);
	border: 4px solid rgba(29, 5, 5, 0.54);
	border-radius: 5px;
	color: whitesmoke;
	font-size: 1.2rem;
	cursor: pointer;
	transition: all ease-in-out 0.2s;
	outline: none;
}
div.theme-horror-mystery button:hover {
	background: rgb(43, 46, 61);
}
div.theme-horror-mystery button.hovertrigger,
div.theme-horror-mystery button.expand {
	padding: 0.2rem;
}
div.theme-horror-mystery div.hoverwrap button.drop-delete,
div.theme-horror-mystery div.hoverwrap button.drop-rename {
	background: rgb(34, 32, 54);
	margin: 0;
}
div.theme-horror-mystery div.hoverwrap button.drop-delete:hover,
div.theme-horror-mystery div.hoverwrap button.drop-rename:hover {
	background: rgb(46, 41, 92);
}

div.theme-horror-mystery .navigation {
	background: lightgray;
	width: 100%;
	justify-content: start;
}
div.theme-horror-mystery .navigation ul {
	background: none;
}
div.theme-horror-mystery .navigation ul li {
	background-image: url('/theme/horror/tab.png');
	background-size: cover;
}
div.theme-horror-mystery .navigation ul a {
	padding: 0 1.2rem;
}

div.theme-horror-mystery .collection-bar h2 {
	border: none;
	padding-top: 0.9rem;
	color: antiquewhite;
	background: rgba(38, 70, 97, 0.52);
}

div.theme-horror-mystery .collection-bar ul button {
	background: rgb(64, 66, 80);
	color: white;
	padding: 0.4rem 1.5rem;
	transition: all ease-in-out 0.3s;
}
div.theme-horror-mystery .collection-bar ul button:hover {
	background: rgb(49, 51, 61);
}
div.theme-horror-mystery .project-list .card-item {
	width: 40rem;
	border: 2px solid rgba(89, 16, 16, 0.22);
	border-radius: 0.4rem;
	background: rgba(51, 63, 82, 0.5);
	padding: 0;
	padding: 0.5rem 1rem;
	text-transform: capitalize;
}
div.theme-horror-mystery .project-list .card-item p {
	color: whitesmoke;
	font-size: 2rem;
	margin: 0;
}

@media (min-width: 720px) {
}
