@import '@fontsource/fira-mono';

:root {
	font-family: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;
	--primary-color: #b9c6d2;
	--secondary-color: #d0dde9;
	--tertiary-color: #edf0f8;
	--accent-color: #ff3e00;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 2rem;
}

html {
	font-size: 16px;
}

body {
	min-height: 100vh;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(
		180deg,
		var(--primary-color) 0%,
		var(--secondary-color) 10.45%,
		var(--tertiary-color) 41.35%
	);
}

body::before {
	content: '';
	width: 80vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 10vw;
	z-index: -1;
	background: radial-gradient(
		50% 50% at 50% 50%,
		var(--pure-white) 0%,
		rgba(255, 255, 255, 0) 100%
	);
	opacity: 0.05;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
p {
	font-weight: 400;
	color: var(--heading-color);
}

p {
	font-size: 1rem;
	line-height: 1.5;
}

a {
	font-size: 1rem;
	color: var(--accent-color);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 3rem;
	margin-bottom: 0 0 1em 0;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.8rem;
	margin: 0.6rem 0;
}

h4 {
	font-size: 1.5rem;
	margin: 0.2rem 0 0.4rem;
}

h5 {
	font-size: 1.2rem;
}

pre {
	font-size: 1rem;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--text-color);
}

input,
button {
	font-size: 1rem;
	font-size: inherit;
	font-family: inherit;
}

button {
	padding: 0.2rem;
}

button:focus:not(:focus-visible) {
	outline: none;
}

.content {
	flex-direction: column;
}

.content .collections {
	flex: 1 0 200px;
	margin-bottom: 2rem;
}

div.viewer .choice-viewbox {
	padding: 0;
	max-height: calc(70vh - 260px);
	border: 1px solid black;
	padding: 10px;
	border-radius: 5px;
	overflow-x: scroll;
}

.collection-bar {
	border: 1px solid grey;
	border-radius: 10px;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height: 30vh;
}
.content .collections h2 {
	font-size: 1.2rem;
}
.content .collections h4 {
	font-size: 1.1rem;
}

.card-item {
	display: block;
	border: 1px solid grey;
	background: white;
	padding: 20px;
	border-radius: 5px;
	width: auto;
	max-width: 80vw;
}

.wrap-proj-data {
	flex-grow: 1;
	border: 2px solid black;
	display: flex;
	flex-direction: column;
}
.wrap-proj-folders {
	border: 1px solid lightblue;
	flex: 3 0 25%;
	max-height: 30vh;
	overflow-y: auto;
}
.wrap-proj-choices {
	border: 1px solid lightcoral;
	flex: 8 8 70%;
	padding: 10px;
	max-height: calc(70vh - 260px);
	overflow-y: auto;
}
.settings input {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: 0.25em;
	border: 0.1em solid currentColor;
	background: transparent;
}
input.setting-dial {
	width: 3rem;
	margin-right: 1rem;
}
.setting-item {
	padding: 5px 0;
	display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-bottom: 1px solid black;
}

@media (min-width: 720px) {
	.choice-viewbox {
		max-height: calc(100vh - 200px);
		overflow-y: auto;
	}
	h1 {
		font-size: 2.4rem;
	}
	div.content {
		flex-direction: row;
	}
	.content .collections {
		overflow-y: auto;
		margin-bottom: 1rem;
		flex: 1 0 35vh;
		margin-bottom: 0;
	}
	.collection-bar {
		max-height: calc(100vh - 14rem);
	}
	div.viewer .choice-viewbox {
		margin: 0 1rem;
		max-height: calc(100vh - 14rem);
	}
	.wrap-proj-data {
		flex-direction: row;
		max-height: calc(100vh - 14rem);
	}
	.wrap-proj-folders {
		max-height: none;
	}
	.wrap-proj-choices {
		max-height: none;
	}
	.setting-item {
		flex-direction: row;
		align-items: center;
		border-bottom: none;
	}
}

/* utility classes */
.flextable-between,
.flextable {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	width: 100%;
}
.flextable-between {
	justify-content: space-between;
	align-items: center;
}

/* Tablesection styling */

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
	margin-right: 0.3rem;
}

.height-1rem {
	height: 1rem;
}

.height-1-5rem {
	height: 1rem;
}

.height-2rem {
	height: 1rem;
}

.text-bold {
	font-weight: bold;
}

.text-bolder {
	font-weight: bolder;
}

.text-red-error {
	color: indianred;
}

.icon-sq-xs {
	height: 1rem;
	width: 1rem;
}
.icon-sq-sm {
	height: 1.5rem;
	width: 1.5rem;
}
.icon-sq-md {
	height: 2rem;
	width: 2rem;
}
